.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-input {
    display: flex;
    /* background-color: red; */
    height: 60px;
    align-items: center;
}

.username-input {
    font-size: 16px;
    border: 1px solid #0066cc;
    outline: none;
    padding: 1px 20px;
    border-radius: 10px;
    /* box-shadow: 1px 1px 2px rgba(0, 68, 204, 0.5); */
    height: 75%;
    /* background-color: rgba(99,99,191,.07); */
}

.color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    height: 56px;
    width: 56px;
    cursor: pointer;
    border: none;
    margin-left: 2px;
}

.color-picker::-webkit-color-swatch {
    border-radius: 10px;
    border: none;
}
  
.color-picker::-moz-color-swatch {
    border-radius: 10px;
    border: none;
}

table {
    /* background-color: red; */
    /* width: 300px; */
    font-size: 15px;
    margin-top: 10px;
}

table, th, td {
    /* border: 1px solid black; */
}

td {
    width: 100px;
}

tr td:first-child {
    text-align: right;
    font-weight: bold;
    padding-right: 5px;
    /* width: 70px; */
}

.random-name {
    color: grey;
}

.user-name {
    /* font-weight: bold; */
}

.login-button {
    padding: 12px 14px;
    font-size: 14px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
}

/* button {
    display: block;
} */