.mi-form {
    display: flex;
    width: 100%;
    background: white;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
    border-radius: 10px;
}

.message-input {
    font-size: 16px;
    border: 0;
    outline: none;
    flex-grow: 1;
    padding: 20px;
    border-radius: 10px;
}
  
.mi-button {
    padding: 12px 14px;
    font-size: 16px;
    /* background-color: #6363bf; */
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 8px;
    margin: 14px;
    cursor: pointer;
}