/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: rgba(99,99,191,.07);
}
  
.upsell {
    background: #6363bf;
    color: white;
    text-decoration: none;
    align-self: center;
    border-radius: 12px;
    font-size: 14px;
    line-height: 24px;
    padding: 0 12px;
    font-weight: 500;
    margin: 10px 0;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.1);
}
  
.app-content {
    width: 100%;
    max-width: 900px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 10px;
}
  
.messages-list {
    list-style: none;
    padding-left: 0;
    flex-grow: 1;
    overflow: auto;
}

.messages-message {
    display: flex;
    margin-top: 10px;
}

.messages-message .current-member {
    flex-direction: row-reverse;
    text-align: right;
}

.avatar {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.messages-message > .avatar {
    margin: 0 10px -10px;
}

.username {
    color: gray;
    font-size: 14px;
}

.message-content > .username {
    padding-bottom: 4px;
}

.message-content > .text {
    padding: 10px;
    max-width: 400px;
    margin: 0;
    border-radius: 12px;
    background-color: #6363bf;
    color: white;
    display: inline-block;
}

.members {
    border-bottom: solid #6363bf1c;
    background: white;
    padding: 8px;
}

.members-count {
    margin-bottom: 8px;
}

.members-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.members-list > .member {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 8px;
}

.member > .avatar {
    margin-right: 5px;
    height: 24px;
    width: 24px;
}

.current-member > .message-content .text {
    background-color: white;
    border-top-right-radius: 0;
    color: black;
}

.typing-indicator {
    color: gray;
    font-size: 14px; 
}
